
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}


header {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}


nav a:hover {
  color: #00bcd4;
}


.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.hero-content h2 {
  font-size: 3rem;
  margin: 10px 0;
}

.hero-content h2 span {
  color: #00bcd4;
}

.hero-content p {
  font-size: 1.2rem;
  margin: 20px 0;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.hero-socials {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 28px;
}

.hero-socials a {
  font-size: 1.8rem;
  color: #00bcd4;
  transition: transform 0.3s ease, color 0.3s ease;
}

.hero-socials a:hover {
  transform: translateY(-6px);
  color: white;
}



.btn {
  display: inline-block;
  padding: 12px 25px;
  margin: 10px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;

}

.btn.primary {
  background-color: #00bcd4;
  color: #111;
}

.btn.secondary {
  border: 2px solid #00bcd4;
  color: #00bcd4;
}

.btn:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}




.skills-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.skill-card {
  background: white;
  padding: 20px;
  width: 120px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.skill-card img {
  margin-bottom: 10px;
  width: 50px;
}



.project-card {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  padding: 30px;
  border-radius: 20px;
  max-width: 900px;
  margin: 0 auto;
  box-shadow:
    10px 10px 20px rgba(0, 0, 0, 0.15),
    -10px -10px 20px rgba(255, 255, 255, 0.7);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.project-card:hover {
  transform: translateY(-10px) rotateX(5deg) rotateY(-5deg);
  box-shadow:
    20px 20px 40px rgba(0, 0, 0, 0.25),
    -10px -10px 30px rgba(255, 255, 255, 0.9);
}

.project-card a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}
.weather-project {
  position: relative;
  color: white;
  overflow: hidden;
}




.contact-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 40px;
}

.contact-icons img {
  transition: transform 0.3s;
  width: 35px;
}

.contact-icons img:hover {
  transform: scale(1.2);
}


.contact-form {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-form label {
  margin-top: 15px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #0097a7;
}
.toggle-section {
  display: none;
}
